@import url(http://fonts.googleapis.com/css?family=Great+Vibes);

h1 {
width: window.width;
  font-family: 'Great Vibes', serif;
   font-size: 100px;
   line-height: 98px;
        font-weight: bold;
text-align: center;
color: #333333;
}

h2 {
        margin: 48px 0 24px;
  font-family: 'pirata one', serif;
  font-size: 48px;
  line-height: 54px;
        font-weight: normal;
       
}

p {
        width: 500px;
        display: block;
        margin: 0px auto;
        margin-top : 50px;
        border-top: 1px solid #aaa;
        padding-top:60px;
        font-family: "gentium book basic", 'Georgia', serif;
        font-size: 23px;
        line-height: 30px;
        color: #aaa;
}

p:first-letter {
  font-size: 60pt;
  display: block;
  float: left;
  margin: 5px 5px 5px 0;
}