#closeBt{
	opacity: 1;
	width: 50px;
	height: 50px;
	position: fixed;
	top: 5%;
	left: 93%;
	cursor: pointer;
	transition: 0.5s;
	background-image: url('../images/closeBt.png');
	display: none;
}

#screen{
    background: black;
	width: 100%;
    height: 120%;
	position: absolute;
	top: 0px;
	left: 0px;
	transition: 0.5s;	 	
    display: none;
}

#dp_box{
	position: absolute;
	top: 3%;
	transition: 0.5s;	
	left: 100px;
	display:none;
}

#t_box {
	position: absolute;
	top: 25%;
	right: 110px;
	opacity: 1;
	color: #FFFFFF;
	font: 12px 나눔고딕;
	width: 220px;
	display: none;
	text-align: right;
	line-height: 18px;
}

#stage{
   -webkit-perspective: 700px center center;
   -webkit-perspective-origin: 50% 50%;
}

#scene{
  width: window.innerWidth;
  height: 500px;
  margin-left: 30px;
  -webkit-transform-style: preserve-3d;  
}

.block{
  position:absolute;
  transition: 1s;
  transition-delay: 0;
}


.block:hover{
  cursor: pointer;
}

 /* -webkit-animation: rot 3s infinite;*/


/*
@-webkit-keyframes rot{
    0%{
        -webkit-transform : rotateY(0deg);
    }
    100%{
        -webkit-transform : rotateY(360deg);
        
    }
    
}*/


