#stage{
   -webkit-perspective: 700px center center;
   -webkit-perspective-origin: 50% 50%;
}

#scene{
  width: window.innerWidth;
  height: 500px;
  -webkit-transform-style: preserve-3d;  
}

.block{
  position:absolute;
}

.block:hover{
  cursor: pointer;
  -webkit-transform-origin: 100px 100px;
  -webkit-animation: rot 3s infinite;
}



@-webkit-keyframes rot{
    0%{
        -webkit-transform : rotateY(0deg);
    }
    100%{
        -webkit-transform : rotateY(360deg);
        
    }
    
}











/*이전 작업 css
@import url(http://fonts.googleapis.com/css?family=Great+Vibes);

h1 {
font-family: 'Great Vibes', serif;
font-size: 100px;
font-weight: bold;
color: #333333;
position: absolute;
width: 300px;
text-align: center;
}

#sprite{
  display: none;  
}

p1 {
position: absolute;
top: 240px;
font: italic bold 20px Georgia;
left: 75px;
color:#919693;
}

p2 {
position: absolute;
top: 275px;
font: italic bold 20px Georgia;
left: 75px;
color:#919693;
}


#frame {
background-color: rgba(0,0,0,0.9);
width: 100%;
height: 100%;
position: absolute;
display: none;
transition: 2s;
}

#content {
display: none;
  position: absolute;
  left:10%;
  top:10%;
  transition: 2s;
}
*/